.light-parent {
   display: flex;
   flex-direction: column;
   width: 30%;
   margin: 10px; 
   height: 95px;
   font-weight: 700;
   margin: 10px auto 10px auto;
   background-color: #2B2C2D;
   color: #eee;
   transition: background-color 1s ease, width .5s ease;
   position: relative;

   .MuiSwitch-root {
      position: absolute;
      top: 5px;
      right: 5px;
 
   }

   .text {
      padding: 15px 15px;
      height: 100%;
   }
   .range-content {
      width: 100%;
      margin: auto 0 0 0;
      display: flex;
      cursor: pointer;

      input {
          -webkit-appearance: none;
          width: 100%;
          background: rgba(238, 238, 238, .55);
          outline: none;
          -webkit-transition: .2s;
          transition: opacity .2s;
          padding: 0;
          border: none;
          margin: 0;

          &::-webkit-slider-thumb {
              -webkit-appearance: none;
              appearance: none;
              background: rgba(255, 255, 255, 1);
              height: 15px;
              width: 15px;
          }

          &::-moz-range-thumb {
              width: 15px;
              height: 15px;
              background: #4CAF50;
          }
      }
  }
}


.off {
   background-color: #303133;
   color: #eee !important;
}

.on {
   background-color: #BEBEBE;
}