.light-parent {
   display: flex;
   flex-direction: column;
   width: 30%;
   margin: 10px;
   height: 95px;
   font-weight: 700;
   margin: 10px auto 10px auto;
   background-color: #2B2C2D;
   color: #eee;
   transition: background-color 1s ease, width .5s ease;
   position: relative;

   .MuiSwitch-root {
      position: absolute;
      top: 5px;
      right: 5px;

   }

   .text {
      height: 100%;
      display: flex;

      .name {
         display: flex;
         flex-wrap: nowrap;
         margin: auto auto auto 0 !important;

            svg {
               margin: auto auto auto 10px;
            }

            input {
               padding: 5px;
               margin: 5px;
               background: transparent;
               outline: none;
               border: none;
               font-weight: bold;
               font-size: 18px;
               font-family: inherit;
               color: inherit;
               margin-left: 10px;
            }

            .activated-input {
               border-radius: 5px;
               background-color: rgba(0, 0, 0, .15);
               color: #eee;
            }
         }
      }

   .range-content {
      width: 100%;
      margin: auto 0 0 0;
      display: flex;

      input {
         -webkit-appearance: none;
         width: 100%;
         background: rgba(238, 238, 238, .55);
         outline: none;
         -webkit-transition: .2s;
         transition: opacity .2s;
         padding: 0;
         border: none;
         margin: 0;

         &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            background: rgba(255, 255, 255, 1);
            height: 20px;
            width: 20px;
         }

         &::-moz-range-thumb {
            width: 20px;
            height: 20px;
            background: #4CAF50;
         }
      }
   }

   @media(max-width: 1250px) {
      width: 45%;
   }

   @media(max-width: 850px) {
      width: 95%;
   }
}

.activated-div {
   z-index: 2001 !important;
}

.off {
   background-color: #303133;
   color: #eee !important;
}

.on {
   background-color: #BEBEBE;
}

.disabled {
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   background-color: transparent;
   z-index: 2000 !important;
}