.config-parent {
    display: flex;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    color: #eee;
    background-color: rgba(68, 69, 71, 0.75);

    .configuration {
        display: flex;
        flex-direction: column;
        margin: auto;
        background-color: #eee;
        border-radius: 5px;
        padding: 15px 15px;

        .sketch-picker {
            margin: auto;
            margin-bottom: 15px;
            z-index: 2000;
            height: 100%;
        }

        button {
            width: 75px;
            height: 55px;
            color: #FF4C4C;
            outline: none;
            border: none;
            border: solid 1px #FF4C4C;
            background-color: transparent;
            padding: 15px 15px;
            cursor: pointer;
        }
    }
}