.create-div {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 5px 5px;
  border-radius: 10px;
  min-height: 250px;
  text-align: center;

  .inner-content {
    display: flex;
    margin: auto;
    flex-direction: column;

    img {
      width: 125px;
      height: 125px;
      margin: auto;
      border-radius: 10px;
    }

    button {
      margin: 25px auto auto auto;
      outline: none;
      border: none;
      padding: 15px 15px;
      cursor: pointer;
      font-size: 18px;

      &:hover {
        opacity: 0.85;
      }
    }
  }

  @media (max-width: 1250px) {
    width: 65%;
  }
  @media (max-width: 850px) {
    width: 90%;
    margin: auto;
    border: none;
    border-radius: 0;
  }
}
